.centrarContenido{
    text-align: center;
}
.bordeSuperior{
    border-top: solid 1px;
}

.bordeInferior{
    border-bottom: solid 3px;
}

.padding{
    padding: 0px 50px 5px 50px !important;
}

.bordeSuperiorSM{
    border-top: none;
}

#contenedorBotonFormulario{
    text-align: center;
    margin-bottom: 50px;
}

#campoComentario{
    display: flex;
    padding-bottom: 25px;
}

#comentario{
    resize: none;
}

#fondo{
    height: 100%;
}

body{
    background-size: cover;
    background-repeat: none;
    background-position: center;
    overflow-x: hidden;
}

#cabecera{
    color: white!important;
    position: fixed;
    width: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.6);
    z-index: 99;
}

#logoCabecera{
    display: flex!important;
    flex-direction: column;
    align-items: flex-start !important;
    color: white;
    line-height: 20px;
}

.navCabecera{
    --bs-nav-link-color: white !important;
    --bs-nav-pills-link-active-bg: white !important;
    --bs-nav-link-hover-color: greenyellow !important;
}

.linkCabecera:hover{
    color: greenyellow !important;
}

#logoMenu{
    font-weight: bolder;
    color: greenyellow;
}

.espacioParaMenu{
    padding-top: 100px;
}

#presentacion{
    padding-left: 0px;
    padding-right: 0px;
}

#textoPresentacion{
    text-align: center;
    /* margin: 150px 0px; */
    height: 100vh;
    background-image: url(../img/govetku.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

#textoPresentacion p{
    color: white;
    font-size: 17px;
}

#textoPresentacion p b{
    color: greenyellow;
}

#textoPresentacion h1{
    font-weight: bolder;
    font-size: 60px;
}

#textoPresentacion h2{
    font-size: 35px;
    margin: 30px 0px;
}

#textoPresentacion h1 span{
    background-color: greenyellow;
    border-radius: 5px;
    padding: 0px 10px;
    width: auto;
}

#anclaAcerca{
    height: 90px;
}

#seccionAcerca{
    background-image: url(../img/acerca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#seccionAcerca i{
    color: greenyellow;
}

#tituloAcerca{
    text-align: center;
    margin-bottom: 30px;
}

#tituloAcerca h2{
    font-size: 22px;
}

#tituloAcerca h2 span{
    font-size: 50px;
    font-weight: bolder;
    color: greenyellow;
    line-height: 35px;
}

#callToAction{
    background-image: url(../img/callToAction.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    height: 150px;
}

#contenedorCallToAction{
    text-align: center;
    height: 150px;
}

#contenedorCallToAction a{
    color: white;
    text-decoration: none;
}

#contenedorCallToAction i{
    color: greenyellow;
    font-size: 40px;
}

#bodyContacto{
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
}

#contactoVeterinario{
    background-image: url(../img/veterinario.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    height: 600px;
    width: 450px;
    position: fixed;
    right: 100px;
    bottom: 0;
}

#formContacto input{
    padding: 5px;
    border-radius: 5px;
    border: solid 1px;
}

#formContacto textarea{
    padding: 5px;
    border-radius: 5px;
    border: solid 1px;
}

.textoIzquierda{
    text-align: left;
    font-size: 15px;
    font-weight: 400;
}

.textoDerecha{
    text-align: right;
    font-size: 16px;
    font-weight: 600;
}

.inputCentrado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.error{
    font-size: 14px !important;
    margin-top: 0px !important;
    width: 100%;
}

.separadorInput{
    padding: 0px 0px 20px 0px;
}

#areaContacto{
    height: 100vh;
    padding-bottom: 50px;
}

#areaContacto i{
    font-size: 50px;
    color: greenyellow;
}

#areaContacto h3{
    font-size: 50px;
}

#tituloContacto{
    text-align: center;
    padding: 50px 0px;
}

@media (max-width: 1680px){
    #contactoVeterinario{
        height: 500px;
        width: 375px;
        right: 100px;
    }
}

@media (max-width: 1450px){
    #contactoVeterinario{
        height: 350px;
        width: 260px;
        right: 100px;
    }
}

@media (max-width: 991px){
    .bordeSuperiorSM{
        border-top: solid 1px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .textoIzquierda{
        text-align: center;
    }
    
    .textoDerecha{
        text-align: center;
    }

    #contactoVeterinario{
        display: none;
    }

    #areaContacto{
        height: fit-content;
    } 
}

@media (max-width: 767px){
    #logoCabecera{
        align-items: center !important;
    }
}

@media (max-width: 579px){

    .espacioParaMenu{
        padding-top: 150px;
    }

    #tituloContacto{
        padding: 0px 0px 50px 0px;
    }
}

#areaReclamo{
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
}